{
  "plugins": [["transform-runtime"]],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 100 versions"]
        }
      }
    ],
    "stage-0",
    "es2015",
    "react"
  ]
}
