html,
body {
  height: 100%;
  text-rendering: optimizeLegibility;
  // 当绘制文本时，浏览器会进行智能识别，何时应该从速度、清晰度和几何精度方 面进行优化。
  // optimizeSpeed 优先渲染速度,optimizeLegibility 优先清晰度, geometricPrecision:优先几何精度
  //-moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 12px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
// NavLink 颜色设置
.nav-header {
  color: blue;
}
.nav-active {
  color: red;
}
.test {
  display: flex;
  width: 300px;
  background-color: pink;
  text-shadow: 5px 5px 5px #ff0000;
  transform: translateY(30px);
}
